<form id="composeChirpForm" role="form" onsubmit="return composeChirp();">
     {% csrf_token %}

   {% for field in compose_chirp_form %}
    <div class="form-group">
      {% if field.errors %}
          <p class="error">
          {% for error in field.errors %}
            {{ error }}
          {% endfor %}
          </p>
        {% endif %}
          {{ field }}        
    </div>
  {% endfor %}
  
  {% if compose_chirp_form.non_field_errors %}
    <p class="error">
          {% for error in compose_chirp_form.non_field_errors %}
            {{ error }}
          {% endfor %}
    </p>
   {% endif %}
	<input type="submit" class="btn btn-info compose-btn" value="Compose" />
</form>